@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

section#paralex1{
    background-image: url(../imagens/background001.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
}
section#paralex2{
    background-image: url(../imagens/background002.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 400px;

}